## 4 K-Means Clustering

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.0      ✔ purrr   0.3.5
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.5.0
✔ readr   2.1.3      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [6]:
data = as_tibble(data.frame(x = c(1,3,5,1,5), y=c(3,3,3,2,2)))
centers = as_tibble(name=c('c1', 'c2'), data.frame(x=c(1,5), y=c(0, 4)))
mutate(data)
head(centers)
head(data)

  x y
1 1 0
2 5 4

  x y
1 1 3
2 3 3
3 5 3
4 1 2
5 5 2

  x y
1 1 3
2 3 3
3 5 3
4 1 2
5 5 2